# Project Files
jobs/*

data/raw/*
!data/raw/.gitkeep
data/external/*
!data/external/.gitkeep
data/interim/*
!data/interim/.gitkeep
data/processed/*
!data/processed/.gitkeep
!data/processed/**/*.dvc
data/flags/*
!data/flags/.gitkeep

# Python Files
**/*.egg-info/*
**/*.pyc
**/.ipynb_checkpoints/*
**/.pytest_cache/*
**/*.t.err
**/.coverage

# Environment Files
**/.venv/*

# Snakemake Files
**/.snakemake/*
**/.snakemake_timestamp

# Documentation Files
docs/public/*
docs/source/*

# Developement Environment Files
.vscode/*